.content {
  display: flex;
  flex-direction: row;
}

.constructorSection {
  width: 35%;
  /* margin: 0.5em 0; */
}

.divWrapper {
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  background-color: rgb(230, 230, 230);
}

.divWrapper > h2 {
  background-color: #0e374e;
  color: white;
}
.divWrapper > .generalDiv {
  border-radius: 5px;
}
.divWrapper.collapsed {
  max-height: 1.75em;
  /* padding: 0;
  margin: 0; */
}

.divWrapper.expanded {
  max-height: 500px;
}

.toggler {
  cursor: pointer;
}
.infoSection {
  width: 65%;
}
.infoSection > h1 {
  text-align: center;
}

button {
}
