.personalInfo {
  background-color: #0e374e;
  color: white;
  text-align: center;
  border-radius: 0 0 5px;
  padding: 0.45em;
}

.contacts {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.name {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding: 1em;
}
